* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
/* button, input:focus{
    outline: none;
  } */
body {
  background-image: linear-gradient(120deg, #d365ff 0%, #3d40ff 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* middle color #714dff */
  color: white;
  /* font-family: "Poppins", sans-serif; */
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Black Han Sans', sans-serif; */
  min-height: 100vh;
  scroll-behavior: smooth;
}
header {
  /* font-size: 2rem; */
  width: 100%;
  height: 50vh;
  /* display: block; */
  position: fixed;
}

h1 {
  /* color: #b84dff; */
  min-height: 20vh;

  font-size: clamp(5rem, 10vw, 10rem);
  /* font-size: 5rem; */
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.strokes-h1 {
  position: absolute;
  top: 0;
  /* color: red; */
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  z-index: 3;
}

.solid-h1 {
  position: absolute;
  top: 0;
  z-index: 1;
}

.circle1 {
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  background-color: #714dff;
  height: 90vh;
  width: 90vh;
  opacity: 0;
  transition-duration: 6s;
  /* transition: 1s; */
  transition-timing-function: linear;
  animation: fadein 12s forwards cubic-bezier(0.9, 0, 1, 1);
}

form {
  /* border: red 2px solid ; */
  height: 100vh;
  display: flex;
  width: 100vw;
  max-width: 500px;
  position: fixed;
  justify-content: center;
  align-items: center;
}
form input {
  margin-left: 0.5rem;
  padding: 1rem;
  height: 50px;
  font-size: 1.25rem;
  border: none;
  color: white;

  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 100px;
}

.todo-button{
  margin-left: 0.5rem;  
  /* padding: 1rem; */
  height: 50px;
  width: 50px;
  color: #fff;
  font-size: 2rem;
  border: none;

  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 50%;

  cursor: pointer;
  transition: all 0.3s ease;
}
/* form button:hover {
    color: rgb(255, 255, 255);
  } */
.todo-container {
  float: right;
  /* border: green solid 4px; */
  width: 100vw;
  max-width: 900px;
  margin-top: 60vh;
}
/* @media only screen and (max-width: 2000px) {
  .todo-container {
    margin-top: 60vh;
  }
} */

.todo-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* display: flex; */
  /* flex-flow: column wrap; */
   /* Shorthand – you could use ‘flex-direction: column’ and ‘flex-wrap: wrap’ instead */
  /* justify-content: flex-start; */
  /* align-items: flex-start; */
  /* height: 200vh; */

  width: 100%;
  /* max-width: 300px; */
  list-style: none;
}

.todo {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.9);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 25px;

  height: auto;
  min-height: 220px;

  margin: 0.5rem;
  font-size: 1rem;
  color: black;
  display: flex;
  /* justify-content: space-around; */
  align-items: flex-start;
  transition: all 1s ease;
  word-wrap: break-word;
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: hidden;
}
.filter-todo {
  padding: 1rem;
}
/* .todo li {
    flex: 2;
  } */
.todo-wrapper{
margin-bottom: 50px;
  flex-wrap: wrap;
  /* align-items: center; */
}
.button-wrapper{
  display: flex;
  justify-content: center;
}
.trash-btn,
.complete-btn {
  position: relative;
  right: 0;
  /* background: #ff6f47; */
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: white;
  border: none;
  padding: 1rem;
  margin: 0 0 0 0.5rem;
  cursor: pointer;
  font-size: 1rem;

  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.5);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 50%;
}
.complete-btn {
  /* background-color: transparent; */
  /* background-color: rgb(11, 212, 162); */
  border-radius: 50%;
  /* right: calc(50px + 0.5rem); */
  /* color: green; */
}
.todo-item {
  /* position: relative; */
  padding: 1rem 1rem ;
  /* border-radius: 50%; */
  /* word-wrap: break-word; */
  width: 350px;
  /* word-break: break-all; */
  overflow-wrap: break-word;
  overflow-y: hidden;
  /* border: black solid 2px; */
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  /* margin: 1rem; */
  position: relative;
  /* overflow: hidden; */
}
select {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;

  color: #fff;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  /* background: black; */
  cursor: pointer;
  pointer-events: none;
}
/* Transition */

.select:hover::after {
  /* transform: scale(1.5); */
}

.filter-option {
  /* background-color: rgba(255, 0, 0, 0.144) !important; */
  border-radius: 10%;
}

.scroll-to-top{
  bottom: 0;
  margin: 1rem;
  padding: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadein{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
